h1{
    color: red;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}
li {
    padding: 10px 0;
}
.displayNone {
    display: none;
}
.edit,
.save {
    cursor: pointer;
}